#root {
  /* max-width: 1280px; */
  padding: 2rem;
  text-align: center;
  font-family: inter,sans-serif;
  color: #2b2d2f;
}

.container{
  display: flex;
  gap: 2em;
}

.main{
  display: flex;
  width: 100%;
  height: auto;
  object-fit: cover;
  background-color:  #f3f8ff;
  border: 1px solid #f3f8ff;
  border-radius: 2em;
  box-sizing: border-box;

}

.rightMain{
  border: 1px solid #111;
  border-radius: 0.7em;
  width: 50%;
  height: auto;
  background-color: #fff;
  margin-top: 1.5em;
  box-sizing: border-box;
  margin: 1.2em 0 1.2em 0;
  
}

