*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'popins',sans-serif;
    
}

.contactForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 50vh;
    gap: 20px;
    border: 2px solid #242423;
    flex-wrap: wrap;
}

.inputBox{
    position: relative;
    width: 400px;
}

.inputBox input{
    width: 100%;
    padding: 10px;
    border: 1px solid #d3d9de;
    border-radius: 5px;
    outline: none;
    font-size: 1.2em;
    transition: 0.5s;
}

.inputBox span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    color: #0f1721;
    text-transform: capitalize;
    font-size: 1em;
    font-weight: 610;
    transition: 0.5s;

}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
    color: #1d4ed8;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.75em;
    padding: 0px 8px;
    background-color: #fff;
    letter-spacing: 0.2em;
}


.inputBox input:valid,
.inputBox input:focus{
    border: 1.5px solid #1d4ed8;
}


.inputBox input:invalid:focus{
    border: 1.3px solid red;
}

.inputBox input:focus:invalid ~ span{
    color: #1d4ed8;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.75em;
    padding: 0px 8px;
    background-color: #fff;
    letter-spacing: 0.2em;
}


.contactBtn{
    width: 400px;
    display: flex;
    justify-content: flex-end;
}

.contactBtn button{
    padding: 8px;
    width: 50%;
    font-size: 1.1em;
    font-weight: 600;
    border: 1px solid #0f172a;
    background-color: #2b2d2f;
    color: #fff;
}