*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'popins',sans-serif;  
}

.contact{
    background-color: #f3f8ff;
    padding: 1em 2em;
}

.contactHeaders{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.contactTitle{
    display: flex;
    font-family: lexend,sans-serif;
    font-weight: 700;
    font-size: 3em;
    color: #2b2d2f;
    letter-spacing: 1.1px;
    line-height: 4.2rem;
}

.contactSubtitle{
    display: flex;
    font-size: 1.1rem;
    font-weight: 500;
    color: #2b2d2f;
    letter-spacing: 0.5px;
    margin: 10px 0 0;
    line-height: 2.6rem;
}

.contactForm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 50vh;
    gap: 20px;
    flex-wrap: wrap;
}

.inputBox{
    position: relative;
    width: 600px;
}

.inputBox input{
    width: 100%;
    padding: 10px;
    border: 1px solid #d3d9de;
    border-radius: 10px;
    outline: none;
    font-size: 1.2em;
    transition: 0.5s;
}

.inputBox span{
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    color: #979daa;
    font-size: 1em;
    font-weight: 610;
    transition: 0.5s;
    border-radius: 3px;

}

.inputBox input:valid ~ span,
.inputBox input:focus ~ span{
    color: #1d4ed8;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.75em;
    padding: 0px 8px;
    background-color: #fff;
    letter-spacing: 0.2em;
}


.inputBox input:valid,
.inputBox input:focus{
    border: 1.5px solid #1d4ed8;
}


.inputBox input:invalid:focus{
    border: 1.3px solid red;
}

.inputBox input:focus:invalid ~ span{
    color: #1d4ed8;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.75em;
    padding: 0px 8px;
    background-color: #fff;
    letter-spacing: 0.2em;
}


.contactBtn{
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
}

.contactBtn button{
    padding: 8px;
    width: 50%;
    font-size: 1.1em;
    font-weight: 600;
    border: 1px solid #0f172a;
    background-color: #2b2d2f;
    color: #fff;
    display: flex;
    cursor: pointer;
    border-radius: 12px;
    justify-content: center;
    line-height: 2.6rem;
}

.fullName{
    display: flex;
    justify-content: space-between;
    gap: 1.4em;
    width: 600px;
    margin: 0.5em 0em;
}

.certificationName{
    display: flex;
    flex-direction: column;
}

.email,
.phone{
    width: 600px;
}

.addIcon{
    margin: auto 0.7em;
    height: 0.9em;
    width: 0.9em;
    
}

.addText{
    text-decoration: none;
}

