.resume{
    box-sizing: border-box;
    overflow-y: auto;
}

.resumeHeader{
    display: flex;
    justify-content: flex-start;
    gap: 0.6em;
    padding: 1em 1em 0em 1em;
    margin: 1em 0.5em 0em 0.5em;
}
.resumeHeader h1{
    font-size:32px;
    font-weight: 700;
    color: #050505;
    line-height: 42px;
    font-family: "poppins";
    letter-spacing: 0.05em;
}

.jobTitle{
    display: flex;
    justify-content: flex-start;
    margin: 0em 0.5em 0em 0.5em;
    padding: 0em 1em;
}
.jobTitle h2{
    font-size: 15px;
    line-height: 25px;
    color: #00637C;
    font-family: "Poppins";
    letter-spacing: 0.05em;
}


.contactResume{
    display: flex;
    align-items: center;
    gap: 0.5em;
    flex-wrap: wrap;
    margin: 0em 0.5em 0em 0.5em;
    padding: 0em 1em;
    
}

.box{
    display: flex;
    align-items: center;
    border: 1px solid #e0f2fe;
    font-family: Open Sans;
    font-size: 0.8em;
    font-weight: 400;
    line-height: 14px;
    background: #e0f2fe;
    margin: 5px;
    padding: 6px 10px;
    border-radius: 4px;
    height: 3.5em;
}

img{
    height: 30px;
    width: 30px;
}

.txt{
    font-size: 1em;
    letter-spacing: 0.06em;
    padding-left: 10px;
}

.proffesionalSummary{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1em 1em 0em 1em;
    margin: 0.4em 0.5em 0em 0.5em;
}

.summaryTitle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0em 0em 0.8em 0em;
    width: 50%;
    
}

.underline{
    content: "";
    background-color: #1e666f;
    height: 2px;
    width: 100%;
    bottom: 0px;
    opacity: 0.2;
    margin:0.15em 0em 0em 0em;
}

.summaryText{
    display: flex;
    justify-content: flex-start;
    text-align: justify;
}

.skillsResume{
    display: flex;
    flex-direction: column;
    padding: 1em 1em 0em 1em;
    margin: 0.4em 0.5em 0em 0.5em;
}

.skillsContainer{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.experianceResume{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
    padding: 1em 1em 0em 1em;
    margin: 0.4em 0.5em 0em 0.5em;
}

.experienceJobTitle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.8em 0em -0.3em 0.8em;
    width: 50%;   
}

.experianceHeading{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.6em;
}

.employmentJobStatus{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.6em;
}

.companyName{
    font-size: 18px;
    line-height: 25px;
    color: #00637C;
    font-family: "Poppins";
    letter-spacing: 0.05em;
}

.responsiblities{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5em;
    text-align: justify;
    margin: 0.2em 0.2em 0.2em 2em;

}
.resume{
    scrollbar-width: none;
    -ms-overflow-style: none
}

.educationResumeContainer{
    padding: 1em 1em 0em 1em;
    margin: 0.4em 0.5em 0em 0.5em;
}

.educationTitle{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0.8em 0em 0.6em 0em;
    width: 50%; 
}
.educationStatus{
    display: flex;
    justify-content: space-between;
}

.educationSchoolAndDuration{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.6em;
}

.educationHeading{
    display: flex;
    gap: 0.6em;
    text-transform: uppercase;
    font-size: 15px;
}

.grade{
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.05em;
}

.certificationLists{
    display: flex;
    justify-content: flex-start;
    gap: 2em;
    list-style-position: inside;
}

.resume::-webkit-scrollbar {
    display: none;
}