.icons{
    display: flex;
    justify-content: flex-start;
    width: 600px;
    border: 1px solid #2f2e33;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    gap: 1.5em;
    padding: 1em;
    border-bottom: none;
    background-color: #fff;

}

.icon{
    width: 1.1em;
    height: 1.1em;
}

.textareaContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 50vh;
    flex-wrap: wrap;
}

.textArea{
    width: 600px;
    height: 400px;
    resize: none;
    padding: 1.3em;
    font-size: 1.2em;
    text-align: left;
    background-color: #fff;
    border: 1px solid #2f2e33;
    border-bottom-left-radius: 1.2em;
    border-bottom-right-radius: 1.2em;
}